@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  overflow-wrap: break-word;
  font-family: "Ubuntu";
}

.chatlog {
  font-size: 2vh;
  padding-left: 4vw;
}

.bg {
  background-color: rgb(0, 0, 0);
  background-image: url("https://i.pinimg.com/originals/d1/de/05/d1de05fd1cb0f0e30cd0024ba7986869.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

.newroom {
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 10vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-brand {
  height: 10vh;
  margin-left: 1vw;
}

.about-logo {
  margin-left: 40vw;
  height: 30vh;
}

.nav-item {
  font-size: 3.5vh;
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", */
  padding-left: 10vw;
  padding-right: 0vw;
}

.contact:hover {
  color: #060b2d;
  background-color: #11ff00c7;
}

.contact {
  background-color: #11ff0098;
  border-radius: 20px;
  background-image: none;
  color: #060b2d;
  text-decoration: none;
  padding: 6px 10px;
}

.Vid-elem {
  display: block;
  float: left;
  width: 27vw;
  height: 20.3vw;
  border: 5px solid blue;
  border-radius: 10px;
  background-color: black;
}

.Vid-row {
  margin-left: 120px;
  margin-right: 120px;
  display: inline-block;
  /* background-color: black; */
}

.Button {
  clear: both;
  cursor: pointer;
  height: 2.7vw;
  /* min-height: 4vh; */
  min-height: 22px;
  width: 3.6vw;
  /* min-width: 5.33vh; */
  min-width: 29px;
  border-radius: 2vw;
  border: 0.15vw solid rgb(255, 255, 0);
  background-color: black;
  text-align: center;
}
.Button:hover {
  border: 2px solid rgb(248, 0, 0);
  border-radius: 40px;
}

.button-container:hover .buttonText {
  visibility: visible;
  font-size: 0.78vw;
}

.buttonText {
  color: white;
  visibility: hidden;
  font-size: 0.78vw;
  margin: 0px;
  text-align: center;
}

.Footer {
  background-color: rgba(19, 18, 18, 0.95);
  bottom: 0px;
  width: 100vw;
  height: 4.5vw;
  min-height: 9vh;
  position: fixed;
  margin: 0px;
}

.Footer-elem {
  float: left;
  padding-left: 2vw;
}

.CutCall:hover {
  background-color: #ff0000;
  background-image: none;
}

.Present:hover {
  border: 0.15vw solid blue;
}

.chat {
  position: absolute;
  top: 1vh;
  right: 0.5vw;
  width: 18vw;
  height: 45vw;
  background-color: #27014754;
  border-radius: 20px;
  color: white;
}

.main__message_container {
  left: 0.5vw;
  bottom: 1vh;
  position: absolute;
}

.copyLogo:hover + .copyText {
  display: inline-block;
}

.copyText {
  display: none;
}

.copiedText {
  display: none;
}

.features {
  color: rgb(255, 236, 236);
  font-size: 1.5vw;
  padding: 1.4vw 0vw;
  text-align: center;
  /* font-family: sans-serif; */
  /* border-radius: 0.5vw; */
}

.createButton:hover {
  background-color: rgb(167, 42, 20);
}

.main__message_container > input {
  height: 5vh;
  width: 17vw;
  padding-left: 1vw;
  padding-right: 2vw;
  border: none;
  border-radius: 0.5vw;
  background-color: #1f013ace;
  color: white;
  outline: none;
}

.participantHeading {
  background-color: rgb(73, 62, 141);
  font-size: 1.15vw;
  margin-right: 1vw;
  margin-bottom: 1vh;
  border-radius: 0.5vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  text-align: center;
}

.chatText {
  font-size: 1vw;
  text-align: left;
  font-family: "Ubuntu";
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
